		.tab_item:target {
            display:block;
        }
        .tab_item:not(:target) {
            display:none;
        }

		.tab_item {
			-webkit-animation : topin 0.3s;
			animation: topin 0.3s;
		}
		@keyframes topin {
			from {margin-top: -20%; opacity: 0;}
			to {margin-top: 0%; opacity: 1;}
		}
		@-webkit-keyframes topin {
			from {margin-top: -20%; opacity: 0;}
			to {margin-top: 0%; opacity: 1;}
		}

		div.res{
			font-size: 1.5em;
		}

		body {
		overflow-y: scroll;
		background-color: whitesmoke;
		font-family: "나눔고딕";
		}
